<div class="panel panel-default">
  <!-- Default panel contents -->
  <h2><span class="label label-primary">Course Track List Index</span></h2>
  
 <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#courseTrackAdd">Add Course to Track</button>

 <div id="courseTrackAdd" class="collapse">

  <%= form_for CourseTrackList.new, class: 'form-inline'   do |f| %>
  <%= f.label :track_id  %>
  <%= f.text_field :track_id,  {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :course_id %>
  <%= f.text_field :course_id , {class: "form-control" , style:  "width:350px"} %>
  <div style="margin-top:10px" > </div>
  <%= f.submit :Submit, class: 'btn btn-success'  %>
  <% end %>
 </div> 
  <!-- Table for degrees -->
  <table class="table"  >
   
    <thead>
      <tr>
        <th><%= "Track: "%></th>
        <th><%= "Course: "%></th>
      </tr>
    </thead>
    
    <tbody>
    <% @course_track_lists.each do |ctl| %>
      <tr>
          <td><%= ctl.track.name %></td>
          <td><%= ctl.course.name %></td>
        <td> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  <%= link_to 'Details', course_track_lists_path(ctl) %></td>
      </tr>
   <% end %>
  
    </tbody>
    
  </table>
  
  <%= link_to "<button type='button' class='btn btn-default'> Admin Page </button>".html_safe , sys_admin_index_path %>

  
</div>
