<div class="panel panel-default">
  <!-- Default panel contents -->
  <h2><span class="label label-primary">Offerings Index</span></h2>
  
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#offeringAdd">Add Offering</button>

  
   <div id="offeringAdd" class="collapse">

  <%= form_for Offering.new , class: 'form-inline' do |f| %>
  <%= f.label :CRN %>
  <%= f.text_field :CRN , {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :section %>
  <%= f.text_field :section , {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :year %>
  <%= f.text_field :year, {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :term %>
  <%= f.text_field :term ,{class: "form-control" , style:  "width:350px"} %>
  <%= f.label :evaluation %>
  <%= f.text_field :evaluation , {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :course_id %>
  <%= f.text_field :course_id, {class: "form-control" , style:  "width:350px"} %>
  <div style="margin-top:10px" > </div>
  <%= f.submit :Submit, class: 'btn btn-success'  %>
  <% end %>   
  </div>
  <!-- Table for degrees -->
  <table class="table"  >
   
    <thead>
      <tr>
        <th><%= "CRN: "%></th>
        <th><%= "Section: "%></th>
        <th><%= "Year: "%></th>
        <th><%= "Term: "%></th>
        <th><%= "Evaluation: "%></th>
        <th><%= "Course: "%></th>
      </tr>
    </thead>
    
    <tbody>
    <% @offerings.each do |offering| %>
      <tr>
        <td><%= offering.CRN %></td>
        <td><%= offering.section %></td>
        <td><%= offering.year %></td>
        <td><%= offering.term %></td>
        <td><%= offering.evaluation %></td>
        <td><%= offering.course.name %></td>
        <td> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  <%= link_to 'Details', offering_path(offering) %></td>
      </tr>
   <% end %>
  
    </tbody>
    
  </table>
      
      <%= link_to "<button type='button' class='btn btn-default'> Admin Page </button>".html_safe , sys_admin_index_path %>

</div>

