

<div class="panel panel-default">
  <!-- Default panel contents -->
  <h2><span class="label label-primary">Track Index</span></h2>
  
   <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#trackAdd">Add Track</button>

   <div id="trackAdd" class="collapse">

  <%= form_for Track.new , class: 'form-inline' do |f| %>
  <%= f.label :degree_id %>
  <%= f.text_field :degree_id, {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :name %>
  <%= f.text_field :name, {class: "form-control" , style:  "width:350px"} %>
  <div style="margin-top:10px" > </div>
  <%= f.submit :Submit, class: 'btn btn-success'  %>
  <% end %>  
  </div>
  <!-- Table for degrees -->
  <table class="table"  >
   
    <thead>
      <tr>
        <th><%= "Degree: "%></th>
        <th><%= "Track: "%></th>
      </tr>
    </thead>
   
    <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.degree.name %> </td>
        <td><%= track.name %> </td>
        <td> <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  <%= link_to 'Details', track_path(track) %></td>
        
      </tr>
   <% end %>
  
    </tbody>
    
  </table>
    <%= link_to "<button type='button' class='btn btn-default'> Admin Page </button>".html_safe , sys_admin_index_path %>

</div>



