<center>
<h1><span class="label label-primary">Editing Course</span></h1>
</center>
  
  <%= form_for @course , class: 'form-inline' do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name ,{class: "form-control" , style:  "width:350px"} %>
  <%= f.label :code_suffix %>
  <%= f.text_field :code_suffix, {class: "form-control" , style:  "width:350px"} %>
  <%= f.label :code_prefix %>
  <%= f.text_field :code_prefix, {class: "form-control" , style:  "width:350px"} %>
  <div style="margin-top:10px" > </div>
  <%= f.submit :Submit, class: 'btn btn-success'  %>
  <% end %>     
  </div>
  
<center>
  <%= link_to "<button type='button' class='btn btn-danger'> Cancel </button>".html_safe , sys_admin_index_path%>
</center>

