<% c = @course %>
 <center>
<h1><span class="label label-primary">Showing Course: <%= c.name %> </span></h1>
<h3><span class="label label-info"><%= "Suffix:"%></span> <%= c.code_suffix %></h3>
<h3><span class="label label-info"><%= "Prefix:"%></span> <%= c.code_prefix %></h3>

 


  <%= link_to "<button type='button' class='btn btn-default'> Admin Page </button>".html_safe , sys_admin_index_path %>
  <%= link_to "<button type='button' class='btn btn-default'> Edit </button>".html_safe , edit_course_path(c)  %>
 </center>

