 <center>
<h1><span class="label label-primary">Editing Teaching</span></h1>
</center>   
  <%= form_for @teaching, class: 'form-inline'   do |f| %>
  <%= f.label :user_id  %>
  <!-- <%= f.text_field :user_id ,  {class: "form-control" , style:  "width:350px"} %> -->
  <%= f.collection_select :user_id, User.all, :id, :name, :prompt => "Select" %>
  <%= f.label :offering_id %>
  <%= f.collection_select :offering_id, Offering.all.order('CRN ASC'), :id, :CRN, :prompt => "Select CRN" %> 
  <div style="margin-top:10px" > </div>
  <%= f.submit :Submit, class: 'btn btn-success'  %>
  <% end %>


  <center>
  <%= link_to "<button type='button' class='btn btn-danger'> Cancel </button>".html_safe , sys_admin_index_path%>
  </center>